h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
}

h1 {
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
}
h3 {
    font-size: 1.4rem;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333;
    letter-spacing: 1.5px;
}

.container {
    width: 100%;
}

.hogwarts {
    background-image: url(../images/img-hogwartscastle-far.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 760px;
}

button {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    letter-spacing: 1.5px;

}

#title-message {
    color: white;
    text-shadow:5px 5px 10px black;
}

.card {
    cursor: grab;
}

.highlight {
    display: inline-block;
    color: #343434;
    transition: color 250ms, text-shadow 250ms;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
    
    position: relative;
    z-index: 0;

    &:after {
        position: absolute;
        z-index: -1;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 100%;
        height: 3px;
        background-color: #343434;
        transition: all 250ms;
    }

    &:hover {
        color: white;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
        
        &::after {
            height: 105%;
            width: 105%;
        }
    }
}
   